.list-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}
.list-content > div {
  margin: 10vh;
  cursor: pointer;
}
.list-content > div > div:hover{
  box-shadow: 10px 10px 10px lightgrey;
  transform: rotate(360deg)
}
.list-content > div > div {
  transition: box-shadow 300ms,transform 1s
}