.list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10vh;
}
.list-content > a > div {
  margin: 10vh;
  cursor: pointer;
}
.list-content > a > div > div:hover{
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  transform: rotate(360deg)
}
.list-content > a > div > div {
  transition: box-shadow 300ms,transform 1s
}